/* colors */
:root {
  --bg: #e5dbe0ff;
  --green: #9ccb4d;
  --red: #bc4021ff;
  --navbarbase: #2c658fff;
  --navbarbase2: #194b75ff;
  --navbaractive: #619ab4ff;
  --navbarhover: #e5dbe0ff;
  --inputfield: #fef6f8ff;
  --textcolor: #767671ff;
  --invtextcolor: #fef6f8ff;
  --border: #000211ff;
  --bg2: #e8c4d9ff;
  --cyan: #04def2ff;
  --border: lightslategray;

}

/* #region topnav */

    .topnav {
      border-style: solid;
      border-color: var(--border);
      border-bottom: 0px;
      border-right: 0px;
      border-left: 0px;
      border-top: 0px;
      /*background-color: var(--navbarbase);*/
      overflow: hidden;
      background-image: linear-gradient(to right, var(--navbarbase), var(--navbarbase2));
    }
    /* Style the links inside the navigation bar */
  @media screen and (orientation: landscape){
    .topnav a {
      padding: 20px 20px;
      float: left;
      color: var(--inputfield);
      text-align: center;
      text-decoration: none;
      font-size: 17px;
      font-weight: bold;
      font-family:Arial, Helvetica, sans-serif;
      margin-top: 0px;
    }
  }
  @media screen and (orientation: portrait){
    .topnav a {
      padding: 20px 20px;
      float: left;
      color: var(--inputfield);
      text-align: center;
      text-decoration: none;
      font-size: 30px;
      font-weight: bold;
      font-family:Arial, Helvetica, sans-serif;
      margin-top: 0px;
    }
  }
    /* Change the color of links on hover */
    .topnav a:hover {
      /*background-color: var(--navbarhover);*/
      color: var(--invtextcolor);
      background-image: linear-gradient(to right, #74a7d2ca, #ca66ceca);
      font-weight: bold;
      border-spacing: 0px;
    }
    .topnav a.active:hover {
      /*background-color: var(--navbarhover);*/
      color: var(--invtextcolor);
      background-image: linear-gradient(to right, #74a7d2ca, #ca66ceca);
      font-weight: bold;
      border-spacing: 0px;
    }
    /* Add a color to the active link */
    .topnav a.active {
      background-color: var(--bg);
      color: var(--textcolor);
      font-weight: bold;
      border-spacing: 0px;
    }
/*#endregion*/


/* #region text formating*/

    .title-text{
      font-weight: bold;
      /*padding: 17px 17px; */
      text-align: left;
      text-decoration: none;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 50px;
      margin-top: 25px;
      margin-bottom: 25px;
      color: var(--textcolor);
    }
    .normal-text{
      font-weight: bold;
      padding: 5px 5px;
      text-align: left;
      text-decoration: none;           
      font-size: 16px;
      font-family:Arial, Helvetica, sans-serif;
      margin-left: 50px;
      margin-top: 20px;
      margin-bottom: 0px;  
      color: var(--textcolor);
    }
    .barcharttext{
      font-weight: bold;
      padding: 5px 5px;
      text-align: left;
      text-decoration: none;           
      font-size: 16px;
      font-family:Arial, Helvetica, sans-serif;
      margin-left: 50px;
      margin-top: 20px;
      margin-bottom: 0px;  
      color: var(--textcolor);  
    }
    .form-text{
      font-weight: bold;
      padding: 5px 5px;
      text-align: left;
      text-decoration: none;           
      font-size: 16px;
      font-family:Arial, Helvetica, sans-serif;
      margin-left: 20px;
      margin-top: 20px;
      margin-bottom: 0px;  
      color: var(--textcolor);
      
    }
  /*#endregion*/  


/*page format*/

body { 
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: var(--bg);
  background-image: linear-gradient(to right, var(--bg), var(--bg2));
  /*background-image: radial-gradient(var(--bg), var(--bg2));*/
}


/* #region top image */

@media screen and (orientation: landscape){
  .image {
  
    content: url("../img/bahn4.png");
    width: 100%;
    margin-bottom: 0px;
    display: block;
    height: 10%
  }
}
@media screen and (orientation: portrait){
  .image {
  
    content: url("../img/imagemobile.png");
    width: 100%;
    margin-bottom: 0px;
    display: block;
  }
}
/* #endregion*/



/* daten.php*/


/* charts */
.chart-container {
  display: inline-block;
  margin-left: 0px;
  position: relative; 
  height:20vh; 
  width:20vw;
  margin-bottom: 50px;

}
.chart-container-bar{
   /*width: 4000px;
   height: 800px;*/
   width: 80%;
   height: 100px;
}

/*barchart*/

.greenbarcharttd{
  border-style: solid;
  background-color: var(--green);
  color: var(--green);
}
.redbarcharttdfp{
  border-style: solid;
  background-color: var(--red);
  color: var(--red);
}
.redbarcharttd{
  border-style: solid;
  background-color: var(--red);
  color: var(--red);
}
td.redbarcharttd::after {
  content:attr(title);
  display:block;
  position:absolute;
  background-color: var(--border);
  color: var(--invtextcolor);
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
  opacity: 0.6;
  
}

td:hover::after {
  display: block;
}


.barchart{
  margin-top: 0px;
  margin-left: 55px;
  margin-bottom: 50px;
}

.barchartfp{
  margin-top: 0px;
  margin-left: 55px;
}

/* index.php */


/*Formular*/
.form {
  margin-left: 10px;
  width: 70%;
  display: block;
  padding: 16px, 18px;
  font-size: 17px;
}
/*input field*/
/*search button */
@media screen and (orientation: landscape){

input[type=text] {
  width: 120%;
  padding: 12px 20px;
  margin-top: 30px;
  box-sizing: border-box;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--inputfield);
  border:solid;
  border-width: 1px;
  border-color: lightslategray;
}
input[type=submit]{

  background-color: var(--red);
  color: var(--inputfield);
  margin-left: 60%;
  width: 60%;
  padding: 12px 20px;
  margin-top: 30px;
  box-sizing: border-box;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
}
@media screen and (orientation: portrait){

  input[type=text] {
    width: 120%;
    padding: 12px 20px;
    margin-top: 30px;
    box-sizing: border-box;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--inputfield);
    border:solid;
    border-width: 1px;
    border-color: lightslategray;
  }
  input[type=submit]{

    background-color: var(--red);
    color: var(--inputfield);
    margin-left: 60%;
    width: 60%;
    padding: 12px 20px;
    margin-top: 30px;
    box-sizing: border-box;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  }


/*datenoutputdaten.php*/

    .etscho{
    text-align: center;
    margin-top: 20px;  
    margin-left: 20px;     
    padding: 5px;    
    background-color: var(--inputfield);
    /*background-color: lightcyan;   */
    border: 2px solid #666;    
    width: 25%;
    border-radius: 25px;
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
  }


#barcharta{
  padding-left: 50px;
}



  /*Burger Pommes 26.12.2024 16:55 10min vor DornBirn von RJX 860 nach Stuttgart (Frankfurt) Gaisberger Anton und Gu
